extends layout

block statics
    include ./includes/commonDep
    link(rel='stylesheet', href='/stylesheets/jsonViewer/main.css')
    script(src='/dep/ace-builds/src-min-noconflict/ace.js')

block content
    -
        //- 如果不存在响应则填充上空内容，避免代码保存，数据来自模板渲染
        if (!response) {
            response = {};
            response.name = '';
        }

    div.container(ng-app='jsonViewer' ng-controller='main')
        form(name='jsonEditor' autocomplete='off')
            div.ui.centered.grid
                div.row
                    div.eight.wide.column
                        //- ng-class控制表单校验错误提示的显隐
                        div.ui.form(ng-class='{error: showErrors && jsonEditor.responseName.$error.required}')
                            div.field(ng-class='{error: showErrors && jsonEditor.responseName.$error.required}')
                                label 响应名称
                                div.ui.fluid.input
                                    input.form-item(
                                        ng-model="responseName"
                                        name='responseName'
                                        type='text'
                                        placeholder='响应名称'
                                        value=response.name
                                        ng-required='true'
                                        ng-trim='true')
                            div.ui.error.message
                                div.header 响应名称不能为空
                                p 响应需要一个名称来标识它
                div.row
                    div.eight.wide.column
                        div#editor!=JSON.stringify(response.data, null, 4)
                div.row
                    div.five.wide.column
                        button.fluid.ui.button.blue#save(ng-click='saveData()') 保存

        //- 操作行为提示模态窗口
        ng-include(src="'/angularTpls/operationResult.html'")

block javascript
    script(src = '/asset/jsonViewer/main.js')
