extends layout

block statics
    include ./includes/commonDep
    link(rel='stylesheet', href='stylesheets/responseSurvey/main.css')

block content
    div.container(ng-app="responseSurvey" ng-controller='main')
        //- 主界面接口列表table部分
        div.ui.grid.centered
            div.row
                div.twelve.wide.column#inerfaceURL-container
                    div.ui.huge.orange.label
                        i.home.icon
                        ='接口地址:'
                        a.detail {{interfaceURL}}
                    // h2 接口地址:&nbsp;
                //- 新增接口按键
            div.row
                div.four.wide.column#add-response-container
                    //- hash参数用于angular程序
                    a(href='/newJSONResponse?interfaceId={{interfaceId}}#/?interfaceId={{interfaceId}}')
                        button.massive.ui.button.blue.labeled.icon#add-interface 新添JSON响应
                            i.plus.icon
            // 整个table占semantic 16格系统中的15格
            div.fifteen.wide.column.centered
                table.ui.celled.blue.table
                    thead
                        tr
                            th 启用
                            th 响应名称
                            th 响应类型
                            th 操作
                    tbody
                        //- 循环生成表格，注意这里是angular,依靠ajax数据绘制,注意ng-repeat生成新一级作用域
                        tr(ng-repeat='data in controllerData.responseDataCollection track by $index')
                            td
                                div.ui.fitted.toggle.checkbox
                                    input(type="checkbox"
                                          id="switch-{{data._id}}"
                                          name="response-active-switch"
                                          ng-change="changeActiveResponse(data)"
                                          ng-model="data.isActive")
                                    label(for="switch-{{data._id}}")
                            td {{data.name}}
                            td {{data.type}}
                            td
                                a(href="/editResponse?responseId={{data._id}}"
                                + "#/?responseId={{data._id}}&interfaceId={{interfaceId}}") 编辑
                                a(ng-click="deleteResponse(data._id)") 删除
                        // - 没有数据的时候表格不能空
                        tr.center.aligned(ng-if="controllerData.responseDataCollection.length === 0")
                            td(colspan=4) 暂无数据
                    tfoot.full-width(ng-if="controllerData.responseDataCollection.length > 0")
                        tr
                            th(colspan=4)
                                div.ui.blue.button(
                                ng-class="{disabled: activeResNotChanged}"
                                ng-click="updateActiveRes()")
                                    i.white.icon.save
                                    ="保存启用设置"

block javascript
    script(src='/asset/responseSurvey/main.js')
